<div id="app_retail_tagging">
    <div v-if="context.userId in data.user2upc">
        <sly-style>
            #app_retail_tagging .el-tabs__header {
                background: white;
                position: fixed;
                width: 100%;
                z-index: 1;
            }

            #app_retail_tagging .popover-wrapper {
                position: relative;
                display: inline-block;
            }

            #app_retail_tagging .popover-wrapper:hover .popover-content {
                display: initial;
            }

            #app_retail_tagging .popover-wrapper .popover-content {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            #app_retail_tagging .popover-wrapper .popover-content img {
                height: 150px;
                width: auto;
            }
        </sly-style>


        <el-tabs type="card">
            <el-tab-pane label="Catalog">
                <div style="position: fixed; background: white; width: 100%; padding: 8px 0; margin-top: 42px;">
                    <el-button @click="command('prev_object')"
                               icon="arrow-left"
                               size="small"
                               style="margin-left: 10px;">
                        Prev Object
                    </el-button>
                    <el-button @click="command('next_object')"
                               size="small"
                               style="margin-left: 10px;">
                        Next Object<i class="el-icon-arrow-right el-icon-right"></i>
                    </el-button>
                    <el-button :disabled="context.figureId === null"
                               @click="command('assign_tag')"
                               size="small"
                               style="margin-left: 10px; margin-right: 10px;"
                               type="primary">
                        Assign
                    </el-button>
                    <el-button :disabled="context.figureId === null"
                               @click="command('multi_assign_tag')"
                               size="small"
                               style="margin-left: 10px; margin-right: 10px;">
                        Multi assign
                    </el-button>
                </div>

                <br/>
                <br/>
                <hr style="height: 1px; color: #e0e0e0; background-color: #e0e0e0; border: none;"/>

                <div style="margin: 10px;">
                    <div v-for="(item, index) in data.user2upc[context.userId]">
                        <div :style="{ borderColor: state.user2selectedUpc[context.userId] === index ? '#20A0FF' : 'transparent' }"
                         style="float: left; width: 47%; border: 3px solid transparent;">
                            <h2 style="margin: 10px; text-align: center;">UPC Code: {{item.upc}}</h2>
                            <img :src="item.image_url"
                                 @click="state.user2selectedUpc[context.userId] = index"
                                 style="display: block; width: 100%; object-fit: contain; background: white;"
                            />
                        </div>
                    </div>
                </div>

                <el-dialog
                  :visible.sync="state.dialogVisible"
                  size="tiny"
                  title="Image Done">
                  <span>All objects are viewed. Move to next image</span>
                  <span class="dialog-footer" slot="footer">
                    <el-button @click="state.dialogVisible = false" type="primary">Confirm</el-button>
                  </span>
                </el-dialog>
            </el-tab-pane>
            <el-tab-pane label="UPC Info">
                <br/>
                <br/>
                <br/>
                <pre>{{ data.user2upcIndex2Info[context.userId][state.user2selectedUpc[context.userId]] }}</pre>
            </el-tab-pane>
            <el-tab-pane label="UPC Gallery">
                <br/>
                <br/>
                <br/>
                <sly-gallery height="300px" :auto-reset="true" :content="data.user2upcIndex2upcGallery[context.userId][state.user2selectedUpc[context.userId]]"/>
    <!--            <sly-gallery :content="data.demoGallery"/>-->
            </el-tab-pane>
            <el-tab-pane label="Search">
                <br/><br/><br/>
                <sly-table :options="{ perPage: state.perPage, pageSizes: state.pageSizes}"
                           @input="state.user2selectedRowData[context.userId] = $event.selectedRowData"
                           :content="data.fullCatalog"></sly-table>
            </el-tab-pane>
            <el-tab-pane label="Search gallery">
<!--                <pre>{{ state.selectedRowData }}</pre>-->
<!--                <pre>{{ state.selectedRowData["UPC CODE"] }}</pre>-->
<!--                <pre>{{ data.upcGallery[state.selectedRowData['UPC CODE']] }}</pre>-->
                <div style="position: fixed; background: white; width: 100%; padding: 8px 0; margin-top: 42px;">
                    <el-button @click="command('prev_object')"
                               icon="arrow-left"
                               size="small"
                               style="margin-left: 10px;">
                        Prev Object
                    </el-button>
                    <el-button @click="command('next_object')"
                               size="small"
                               style="margin-left: 10px;">
                        Next Object<i class="el-icon-arrow-right el-icon-right"></i>
                    </el-button>
                    <el-button :disabled="context.figureId === null"
                               @click="command('assign_tag_catalog')"
                               size="small"
                               style="margin-left: 10px; margin-right: 10px;"
                               type="primary">
                        Assign
                    </el-button>
                    <el-button :disabled="context.figureId === null"
                               @click="command('multi_assign_tag_catalog')"
                               size="small"
                               style="margin-left: 10px; margin-right: 10px;">
                        Multi assign
                    </el-button>
                </div>
                <br/> <br/> <br/>
                <sly-gallery height="300px"
                             :auto-reset="true"
                             :content="data.upcGallery[state.user2selectedRowData[context.userId]['UPC CODE']]"/>
            </el-tab-pane>
        </el-tabs>
    </div>
    <div v-if="!(context.userId in data.user2upc)">
        <div>User with id = {{context.userId}} is not allowed for this app</div>
    </div>
</div>
